@import "tailwindcss";

@import "./styles/cards.css";
@import "./styles/counter.css";
@import "./styles/loader.css";
@import "./styles/marquee.css";
@import "./styles/menu.css";
@import "./styles/title.css";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

img,
canvas {
  max-width: 100%;
  height: auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.psyspiral {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 968px) {
  .title-wrapper {
    width: calc(100% + 30px);
  }
}

@media (max-width: 1078px){
  .title {
    margin-left: 30%;
  }
  .modal-card{
    margin-top: 25%;
  }
}

@media (max-width: 724px){
  .counter-wrapper {
    margin-left: 70%;
  }
  .title {
    margin-left: 40%;
    scale: 65%;
    padding: 5%;
  }
}

@media (max-width: 574px) {
  .title-wrapper {
    margin-left: 0%;
  }

  .title-wrapper img {
    margin-top: 15%;
    margin-left: 20%;
  }

  .title {
    margin-left: 35%;
  }

  .desc {
    width: 70%;
  }

  .counter-wrapper {
    width: calc(100% - 30px);
    margin-left: 60%;
  }
}

@media (max-height: 620px){
  .modal-card{
    margin-top: 25%;
  }
}

@media (max-height: 420px){
  .modal-card{
    margin-top: auto;
  }
}