@import "tailwindcss";

@import "./styles/cards.css";
@import "./styles/counter.css";
@import "./styles/loader.css";
@import "./styles/marquee.css";
@import "./styles/menu.css";
@import "./styles/title.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.psyspiral {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 968px) {
  .title-wrapper{
    width: calc(100% + 30px);
  }
}

@media (max-width: 500px) {
  .desc{
    width: 70%;
  }
  .title{
    display: none;
  }
  .counter-wrapper{
    width: calc(100% - 30px);
  }
  .menu{
    width: calc(100% - 20%);
  }
  .modal-wrapper{
    width: calc(100% - 10%);
  }
  .modal-card{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 1500px) {

}